<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Smart Ad</title>

    <!-- Bootstrap -->
    <link href="/frontend/css/bootstrap.min.css" rel="stylesheet">
    <link href="/frontend/css/style.css" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
		 <link href="/frontend/css/jquery.countdown.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
   
   <!-- Main-->
   <!-- Header Starts Here -->
   <header class="clearfix">
   	<div class="container">
    <div class="row">
    <div class="col-lg-4">
    <div class="navbar-header"> 
          <a href="/bidder" class="navbar-brand">Smart Ads</a>
        </div>
    </div>
    <div class="col-lg-8">
   	<ul class="nav nav-pills pull-right">
      <li ><a  href="/bidder/my-bids">My Bids</a></li>
      <li><a href="#">Reports</a></li>
      <li>&nbsp;&nbsp;<img src="/frontend/img/head-sep.png" width="2" height="50" alt="">&nbsp;&nbsp;</li>
      <li><a href="#"><span class="glyphicon glyphicon-bell"></span> Notifications</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> My Account</a></li>
    </ul>
    </div>
    </div>
	</div>
   </header>
   <!-- Header Ends -->
   
   <%= yield %>
 

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/frontend/js/bootstrap.min.js"></script>
	<script src="/frontend/js/jquery.plugin.min.js"></script>
	<script src="/frontend/js/jquery.countdown.min.js"></script>
  </body>
</html>
