<% content_for :content do %>

  <link href="/css/fullcalendar.css" rel="stylesheet">
    <div class="pageheader">
      <h2><i class="fa fa-calendar"></i> Calendar <span>Product occupancy...</span></h2>
      <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          <li><a href="/">SmartAds</a></li>
          <li><a href="/products">Products</a></li>
          <li class="active">Calendar</li>
        </ol>
      </div>
    </div>
    
    <div class="contentpanel">
      
      <div class="row">
        
        <div class="col-md-9">
          <div id="calendar"></div>
        </div><!-- col-md-9 -->
      </div>
    </div>

	<script src="/js/fullcalendar.min.js"></script>
	<script src="/js/jquery.ui.touch-punch.min.js"></script>
	<script>

	  jQuery(document).ready(function() {
	jQuery('#calendar').fullCalendar({header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			}});
});
</script>
<% end %>