<% content_for :content do %>
    <div class="pageheader">
      <h2><i class="fa fa-edit"></i> Create User Type</h2>
      <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          <li><a href="index.html">SmartAds</a></li>
          <li class="active">Create User Type</li>
        </ol>
      </div>
    </div>
    
    <div class="contentpanel">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">&times;</a>
            <a href="#" class="minimize">&minus;</a>
          </div>
          <h4 class="panel-title">Create Form</h4>
          <p>Please field in all the below blanks for creating a new user type.</p>
        </div>
		<div class="panel panel-default">
			 <div class="panel-body panel-body-nopadding">
				 <% if @user_type.errors.any? %>
			   <div class="alert alert-danger">
				<% @user_type.errors.full_messages.each do |msg| %><%= msg %><br/>
				    <% end %>
				</div>
				<% end %>
				<%= form_for(@user_type, :as => :user_type, :html => {:class => "form-horizontal form-bordered"}, :url => user_type_path(@user_type)) do |f| %>
	         	
				
            
	            <div class="form-group">
	              <label class="col-sm-3 control-label">First Name</label>
	              <div class="col-sm-4">
					<%= f.text_field :name, :class => "form-control", placeholder: "User Type Name"%>
	              </div>
	            </div>
            
	          
          	  
	  	  	</div><!-- panel-body -->
	        <div class="panel-footer">
				 <div class="row">
					<div class="col-sm-6 col-sm-offset-3">
					  <button class="btn btn-primary">Submit</button>&nbsp;
					  <button class="btn btn-default">Cancel</button>
					</div>
				 </div>
			  </div><!-- panel-footer -->

           <% end %>
		</div><!-- panel -->
        
	</div><!-- contentpanel -->
	
<script src="/js/jquery.autogrow-textarea.js"></script>
<script src="/js/bootstrap-fileupload.min.js"></script>
<script src="/js/bootstrap-timepicker.min.js"></script>
<script src="/js/jquery.maskedinput.min.js"></script>
<script src="/js/jquery.tagsinput.min.js"></script>
<script src="/js/jquery.mousewheel.js"></script>
<script src="/js/chosen.jquery.min.js"></script>
<script src="/js/dropzone.min.js"></script>
<script src="/js/colorpicker.js"></script>
<script>
  jQuery(document).ready(function() {
    
	  jQuery(".tel").mask("(999) 9999 9999");

	  jQuery('.address').autogrow();
  });
</script>
<% end %>